.container {
  font-family: Arial, sans-serif;
  width: 100%;

  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23d4bea0' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");

}

.head-container {
  margin-left: 8%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 85%;
  margin: 0 auto;
  justify-content: space-around;
}

.cardbind > div{
border: #f3dcc4 3px solid;


}
.cardbind > div:hover{
  border: #ebae6c 4px solid; 
  transition-delay: 200ms;
  scale: 105%;
  transition-duration: 400ms;
  transition-behavior: smooth;

}

@media screen and(max-width:700px) {
  .card {
    width: 80%;
  }
}

.card:hover {
  transform: translateY(-10px);
}

/*
.card {
    border: 3px solid #ddd;
    padding: 20px;
    width: 20%; 
    text-align: center;
    float: left;
    margin: 30px;
    margin-left: 7%;
    border-radius: 40px;
}

.card:hover{
    
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
     padding:25px;
     
}*/

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
}

/* 基础样式 */
.downloadBtn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  /* 蓝色 */
  text-decoration: none;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
}

/* 鼠标悬停效果 */
.downloadBtn:hover {
  background-color: #0056b3;
  /* 深蓝色 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* 鼠标按下效果 */
.downloadBtn:active {
  background-color: #004085;
  /* 更深蓝色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

/* 禁用状态 */
.downloadBtn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.name {
  color: #1a365f;
  font-size: 23px;
}

.name:hover {
  color: #70b3b1;
}

.downloadBtn.zoteornew {
  margin-bottom: 20px;
}

.downloadBtn.zoteornew {
  margin-bottom: 20px;
  background: #c3dfde;
  font-weight: border;
  color: black;
  max-width: 80%;
}

.downloadBtn.zoteorold {
  margin-bottom: 20px;
  background: #dbc0ae;
  font-weight: border;
  color: black;
  max-width: 80%;
}

.tuto {
  height: 40px;
  display: flex;
  align-items: center;
  /* 垂直居中对齐子项 */
  justify-content: center;
  /* 水平居中对齐子项 */
  text-decoration: none;
  font-weight: 600;
  color: #1a365f;
  background-color: #adc5e0;
  width: 70%;
  margin: 15px auto;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
}

.tuto::before {
  content: "\2605";
  /* 黑色实心星星 */
  color: gold;
  /* 设置星星颜色为金色 */
  font-size: 20px;
  /* 调整星星大小，视需要而定 */
  padding-right: 5px;
  /* 右侧留出一些空间 */
}

.tuto:hover {
  transform: translateY(-3px);
  border: #007bff 0.5px solid;
  box-shadow: inset;
}

div#lastUpdated {
  font-size: 20px;
  color: #fc6d26;
}

button {
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #acd1fc;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  max-width: 80%;
}

button:hover {
  letter-spacing: 3px;
  background-color: #acd1fc;
  color: #1a365f;
  box-shadow: #1296db 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: #acd1fc;
  color: #1a365f;
  box-shadow: rgba(18, 150, 219, 0.3) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

#cusbut:hover {
  transform: perspective(180px) rotateX(30deg) translateY(2px);
}

#cusbut:active {
  transform: perspective(170px) rotateX(36deg) translateY(5px);
}

p#lastUpdated {
  padding-top: 30px;
  padding-left: 10px;
  margin-bottom: 0px;
}

h1 + p {
  max-width: 80%;
  margin: 0px auto;
}

p#add_com {
  font-size: 0.7em;
  text-decoration: underline;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
}

p#add_com a {
  color: #a48b8b;
}

.cards-container {
  padding-top: 0px;
}

.zoterodown a {
  text-decoration: none !important;
  color: #1a365f;
}

.zoterodown a:hover {
  color: #70b3b1;
}

#zoteorwin {
  margin-bottom: 20px;
  background: #c3dfde;
  font-weight: border;
  color: black;
  max-width: 80%;
}

#zoteorand {
  margin-bottom: 20px;
  background: #dbc0ae;
  font-weight: border;
  color: black;
  max-width: 80%;
}

.zoteorengine {
  margin-bottom: 20px;
  background: #dbc0ae;
  font-weight: border;
  color: black;
  max-width: 70%;
}

.zoteorengine:hover {
  background-color: #dbc0ae;
  color: #1a365f;
  box-shadow: #dbc0ae 0px 7px 29px 0px;
}

p.zotadd {
  max-width: 70%;
  margin: 0 auto;
  color: #3b65a4;
  margin-top: 15px;
  font-size: 0.9em;
  text-align: left;
}

@media (min-width: 500px) {
  .container {
    max-width: 100%!important;
    margin: 0px;
  }

}


